<mat-form-field>
  <input matInput placeholder="Имя и фамалия">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Почта">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Пароль" type="password"/>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Номер телефона" type="phone"/>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Telegram"/>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Вес голоса"/>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Должность"/>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Роль"/>
</mat-form-field>

<div class="btn-group">
  <button class="btn" mat-raised-button>Загрузить фото</button>
  <button class="btn" mat-raised-button color="accent">Создать</button>
</div>
