<mat-toolbar>

  <img src="" alt="Test User" class="avatar">

</mat-toolbar>

<section class="body">
  <div class="content">
    <div class="title mat-title">
      {{topic.title}}
    </div>

    <div class="questions">

      <div class="question question-{{q.status}}" *ngFor="let q of questions">
        <div class="question-body">
          {{q.title}}
        </div>
        <div class="question-status">
          <mat-icon class="accept">done</mat-icon>
          <mat-icon>close</mat-icon>
        </div>
      </div>

    </div>

  </div>
</section>


